@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply text-blue-600 font-bold
  }
}

@layer components {
  .btn {
    @apply text-blue-600 m-2 px-2 py-2 hover:bg-blue-950 hover:text-blue-600 hover:rounded-md
  }
  .card {
    @apply bg-zinc-700 h-[30rem] w-80 mx-4 my-4
  }
  .primary-color {
    @apply text-blue-600
  }

  .pagination {
    @apply text-blue-600 flex justify-center
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
